body {
    background: url(../images/painted-hills-oregon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    font: #eee;
    height: 100%
}

h3 {
    text-align: center;
    margin: 3% 15% 0% 15%;
}

div div form h5 {
    float: left;
}

#number-input {
    float: left;
    font-size: 20px;
    width: 3em;
    height: 2.75em;
    border: none;
    text-align: center;
}

div.generator-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 2000px rgba(255, 255, 255, .55);
}

div.generator-container,
div.generator-container:before {
    background: inherit;
    margin: auto;
    width: 75%;
    height: 150%;
    padding: 2% 5% 0 5%;
    overflow: auto;
    z-index: -1;
}

div form p span {
    color: rgb(56, 56, 56);
    font-size: 1.2rem;
}

div.generated-password-container {
    background: rgb(56, 56, 56, .4);
    width: 70%;
    height: 7em;
    margin: 1em auto;
    overflow: scroll;
}

p.generated-password {
    color: #eee;
    font-size: 3em;
    text-align: center;
    margin: 0 auto 0 0;
}

div.button {
    margin: auto;
    width: 70%;
}

a {
    margin: 2px 0
}

footer {
    text-align: center;
    font-size: 0.7em;
    left: 0;
    bottom: 0;
    width: 100%;
}